/**
 * 
 * This CSS file contains styles for the store section of the website.
 * It includes styles for the HTML structure, custom scrollbar, background patterns, animations, FAQ section, contact form, and responsive design.
 * 
 * Order of Contents:
 * 1. HTML Styles
 * 2. Custom Scrollbar Styles
 * 3. Background Patterns
 * 4. Animations
 * 5. Title and Subtitle Styles
 * 6. Heartbeat Animation
 * 7. Hover Effects
 * 8. Background Animation
 * 9. FAQ Section Styles
 * 10. Contact Form Styles
 * 11. Responsive Design Styles
 */
html {
  scroll-behavior: smooth;
  height: calc(var(--vh, 1vh) * 100);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background-color: #a83232;
  border-radius: 20px;
  border: 3px solid #111;
}

::selection {
  background: #ffc107; /* amber */
  color: black;
  text-shadow: 2px 2px 2px #000;
  font-variation-settings: 'wght' 900;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bg-grid-pattern {
  background-image: url('data:image/svg+xml,%3Csvg width="100" height="100" xmlns="http://www.w3.org/2000/svg"%3E%3Cg%3E%3Cline stroke="%23ffffff" stroke-width="0.5" y2="100" x2="100" y1="100" x1="0" stroke-dasharray="4, 4"/%3E%3Cline stroke="%23ffffff" stroke-width="0.5" y2="100" x2="0" y1="0" x1="0" stroke-dasharray="4, 4"/%3E%3C/g%3E%3C/svg%3E') !important;
  background-size: 100px 100px;
}

.background-svg {
  background-image: url("https://imperfectgamers.org/assets/store/bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale(0.95);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  animation: fadeInDown 1s ease-in-out;
}

.subtitle {
  font-size: 1.25rem;
  color: #aaa;
  margin-bottom: 3rem;
  animation: fadeInUp 1s ease-in-out;
}

@keyframes heartbeat {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.7;
  }

  25%,
  75% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes hoverInEffect {
  from {
    transform: scale(1);
    opacity: 0.7;
  }

  to {
    transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes hoverOutEffect {
  from {
    transform: scale(1.2);
    opacity: 1;
  }

  to {
    transform: scale(1);
    opacity: 0.7;
  }
}

.animate-heartbeat {
  transition:
    transform 0.5s ease,
    opacity 0.5s ease;
}

.heart:hover {
  animation: hoverInEffect 0.5s forwards;
}

.background-animation {
  position: fixed;
  top: 0;
  opacity: 5%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(45deg, #640000, #ae0000, #640000, #ae0000);
  background-size: 400% 400%;
  animation: moveBackground 10s ease infinite;
  z-index: -1;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


/**
 * FILEPATH: /Users/dijaz/Documents/Coding/GitHub/imperfect-gamers-site/app/styles/store.css
 * 
 * This CSS section contains styles for input validation, error messages, and transitions.
 */

/* Styles for input validation */
.input-error {
  border-color: red;
}

.input-valid {
  border-color: green;
}

.input-neutral {
  border-color: #4B5563; /* stone-700 */
}

.input-typing {
  border-color: yellow; /* Set the border color to yellow */
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite; /* Apply the pulse animation */
}

@keyframes pulse {
  0%, 100% {
    border-color: yellow; /* Start and end with yellow border color */
  }
  50% {
    border-color: transparent; /* Middle with transparent border color */
  }
}

/* Styles for input validation on hover and focus */
.input-hover-error:hover, .input-error:focus {
  border-color: red;
}

.input-hover-valid:hover, .input-valid:focus {
  border-color: green;
}

.input-hover-neutral:hover, .input-neutral:focus {
  border-color: #4B5563; /* stone-700 */
}

/* Transition styles */
.transition-border {
  transition: border-color 0.5s, opacity 0.5s, visibility 0.5s;
}

.error-message {
  max-height: 0;
  overflow: hidden;
  color: #FF5555;
  font-size: 0.875rem; /* 14px */
  margin-top: 0.25rem; /* 4px */
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.error-message.show {
  max-height: 1rem; /* Allow enough space for the message */
  opacity: 1;
  filter: blur(0);
}
.confirm-password-transition {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.confirm-password-transition.show {
  max-height: 5rem; /* Allow enough space for the input */
  opacity: 1;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.error-message-fade {
  position: relative;
  animation: fadeOut 5s forwards;
  color: #9EA8A2;
  text-align: center;
}

.message-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 /*  background-color: #1a1a1a; Dark background for contrast */
  color: white;
}

input::placeholder {
  user-select: none !important;
}
.toggle-password {
  transition: transform 0.3s;
}

.toggle-password:hover {
  transform: scale(1.1);
  color: #ff5555; /* Example hover color */
}

.input-tooltip {
  position: absolute;
  top: -35px; /* Adjusted to position above the icon */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  background-color: rgba(0, 0, 0, 0.85); /* Same background color */
  color: #fff; /* Same text color */
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toggle-password-container:hover .input-tooltip,
.clear-icon-container:hover .input-tooltip,
.redo-icon-container:hover .input-tooltip {
  opacity: 1;
  visibility: visible;
}

.redo-icon {
  transition: transform 0.3s;
}

.redo-icon:hover {
  transform: scale(1.1);
  color: #ff5555; /* Example hover color */
}

    .form-header {
      z-index: 20; /* This needs to be higher than the title's z-index */
        padding: 1rem;
  color: #E0E0E0 !important;
  font-size: 17px;
    }

    .form-header button {
        fill: currentColor;
        z-index: 20; /* This needs to be higher than the title's z-index */

    }

    .form-title-modal {
      text-align: center;
      width: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

.progress-container {
  width: 16px; 
  height: 16px;
}

.progress-ring {
  width: 100%;
  height: 100%;
}

.base-circle {
  stroke: rgba(0, 0, 0, 0.5);
}

.progress-circle {
  stroke: white;
  animation: fillCircle 5s linear forwards, fadeOut 1s linear 4s forwards;
}

@keyframes fillCircle {
  from { stroke-dashoffset: 251.2; }
  to { stroke-dashoffset: 0; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.form-title{
  color: #E0E0E0;
}

.form-primary-link {
  color: #D1D7DC;
}

.form-secondary-links {
  color: #BBBBBB;
}

.form-secondary-text {
  color: #9EA8A2;
}

/* FAQ Section Styles */
.faq-section {
  width: 100%;
  max-width: 800px;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.faq-title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.faq-item {
  background: #202020;
  border-radius: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: background 0.3s ease;
}

.faq-item:hover {
  background: #333333;
}

.faq-question {
  font-size: 1.25rem;
  color: #fff;
  cursor: pointer;
  position: relative;
  padding-right: 2rem;
}

.faq-question:hover {
  color: #ccc;
  /* Slight color shift to indicate interactivity */
}

.faq-question::after {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.3s ease;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.3s ease,
    padding 0.3s ease;
  color: #aaa;
  margin-top: 0.5rem;
  padding: 0 1rem;
  transition:
    max-height 0.5s ease,
    padding 0.5s ease,
    opacity 0.5s ease;
  opacity: 0;
  /* Start with the answer fully transparent */
}

.faq-item.active .faq-answer {
  max-height: 1000px;
  /* Arbitrary large height for smooth animation */
  padding: 1rem;
  opacity: 1;
  /* Fade in the answer text */
}

.faq-item.active .faq-question::after {
  transform: translateY(-50%) rotate(180deg);
}

.contact-form-container {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  width: 384px;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

.contact-section-transition {
  transition: all 0.5s ease-in-out;
}

.luxury-input:focus {
  background-color: #1a202c;
  color: #f3d9e0;
}

.luxury-input:invalid:hover,
.luxury-input:invalid:focus {
  border-color: #e3342f;
}

.luxury-input:valid:hover,
.luxury-input:valid:focus {
  border-color: #38c172;
}

.luxury-input::placeholder {
  color: #cbd5e0;
}

.luxury-label {
  letter-spacing: 0.05em;
  color: #f3d9e0;
}

.luxury-title {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #f7fafc;
}

.luxury-label.focused {
  color: #f6ad55;
}

.contact-section {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  margin-top: 40px;
  width: 384px;
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.3);
}

.contact-section h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact-section p {
  color: #aaa;
  margin-bottom: 20px;
}

.contact-section button {
  background: linear-gradient(145deg, #640000, #ae0000);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.contact-section button:hover {
  background: linear-gradient(145deg, #ae0000, #640000);
}

.hidden {
  display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-section {
    padding: 0 1rem;
  }

  .faq-title {
    font-size: 1.5rem;
  }

  .faq-question {
    font-size: 1rem;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .faq-section {
    padding: 0 1rem;
  }

  .faq-title {
    font-size: 1.5rem;
  }

  .faq-question {
    font-size: 1rem;
  }

  .main {
    padding: 0 4px;
  }

  .nav {
    display: block;
  }

  .nav a {
    display: block;
    margin: 5px 0;
  }

  .container {
    padding: 0 4px;
  }

  .price-toggle {
    flex-direction: column;
    padding-top: 12px;
    align-items: center;
  }

  .price-toggle .price-label {
    margin: 0;
  }

  .switch {
    margin: 10px 0;
  }

  .faq-section {
    width: 100%;
    padding: 0;
  }

  .faq-item {
    padding: 0.5rem;
  }

  .faq-question {
    padding-right: 1rem;
  }

  .membership-card .spinback-effect {
    display: none;
  }

  .testimonial {
    grid-template-columns: 1fr;
  }

  .testimonial-item {
    width: 100%;
    padding: 1rem;
  }

  .event {
    grid-template-columns: 1fr;
  }

  .event-item {
    width: 100%;
    padding: 1rem;
  }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .footer .footer-section {
    margin-bottom: 1rem;
  }

  .footer .footer-section a {
    margin: 0 0.5rem;
  }
}
