/**
 * 
 * This CSS file contains styles for a custom Tailwind button component with hover effects and responsive behavior.
 * 
 * The button component has the following styles:
 * - On hover, it applies a gradient background, a custom hover shadow, and a slight vertical translation.
 * - It has a pseudo-element before it that creates a radial gradient background with a scale animation.
 * - On hover, the pseudo-element scales up to full size.
 * - On screens with a maximum width of 768px, the button has additional padding.
 * 
 * Note: This file uses Tailwind CSS utility classes.
 */
/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button {
		@apply relative overflow-hidden rounded-md font-bold text-white shadow-custom transition-all duration-300 ease-in-out;
		background: linear-gradient(to right, #ff5555, #cc4444);
	}

	.button:hover {
		@apply -translate-y-0.5 shadow-lg;
	}

	.button:before {
		content: '';
		@apply absolute left-1/2 top-1/2 h-72 w-72 -translate-x-1/2 -translate-y-1/2 scale-0 rounded-full bg-radial-at-c from-white via-white/10 to-transparent transition-all duration-500;
	}

	.button:hover:before {
		@apply scale-100;
	}

	.button:disabled {
		@apply cursor-not-allowed opacity-75;
		background: linear-gradient(to right, #ff5555, #cc4444);
		box-shadow: none;
	}

	.button:disabled:hover {
		@apply -translate-y-0;
	}

	.button:disabled:before {
		@apply scale-0;
	}
}

.button:before {
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0.1) 70%,
		rgba(255, 255, 255, 0) 100%
	);
	transform: translate(-50%, -50%) scale(0);
}

.button:hover:before {
	transform: translate(-50%, -50%) scale(1);
}
