/**
 * 
 * This CSS file contains styles for a custom Tailwind button component with hover effects and responsive behavior.
 * 
 * The button component has the following styles:
 * - On hover, it applies a gradient background, a custom hover shadow, and a slight vertical translation.
 * - It has a pseudo-element before it that creates a radial gradient background with a scale animation.
 * - On hover, the pseudo-element scales up to full size.
 * - On screens with a maximum width of 768px, the button has additional padding.
 * 
 * Note: This file uses Tailwind CSS utility classes.
 */
/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.button:hover {
		@apply -translate-y-0.5 bg-gradient-to-l from-gradient-end to-gradient-start shadow-custom-hover;
	}

	.button:before {
		content: '';
		@apply pointer-events-none absolute left-1/2 top-1/2 z-0 h-72 w-72 scale-0 transform rounded-full bg-radial-at-c from-white via-white/10 to-transparent transition-transform duration-500;
	}

	.button:hover:before {
		@apply scale-100;
	}
}

@media (max-width: 768px) {
	.button {
		@apply px-4 py-2;
	}
}

.button:before {
	background: radial-gradient(
		circle,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 0.1) 70%,
		rgba(255, 255, 255, 0) 100%
	);
	transform: translate(-50%, -50%) scale(0);
}

.button:hover:before {
	transform: translate(-50%, -50%) scale(1);
}
