@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-5px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(5px);
	}
}

.shake__animation {
	animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.modal__class {
	position: absolute; /* or absolute, depending on other layout factors */
	overflow-y: auto; /* Enables scrolling within the modal */
}

.fade__in {
	animation: fadeIn 0.5s ease-out forwards;
}

.fade__out {
	animation: fadeOut 0.5s ease-out forwards;
}
