/** ~/app/components/molecules/PriceToggle/PriceToggle.module.css **/

.toggle {
	display: flex;
	align-items: center;
	justify-content: center;
	animation: fadeIn 1s ease-in-out;
}

.toggle__label {
	color: #808080; /* Dark gray */
	font-size: 0.9rem;
	margin: 0 10px;
	transition: color 0.3s ease-in-out; /* Add transition effect */
}

.toggle__label--active {
	color: #ff7f7f; /* Light red */
}